/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

/* Colors */
:root {
  --primary: #0099ff;
  --primary-light: #32adff;
  --primary-dark: #0087ff;
  --navbar-primary: #f2f2f2;
  --navbar-dark: #0b1835;
  --button-primary: #44d694;
  --bg-primary: #606060;
  --bg-secondary: #2b2b2b;
  --font-primary: #f2f2f2;
  --font-secondary: #505050;
}

/* CSS reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

/* Styling */

.wrapper {
  margin: 0 10vw;
}

.btn-primary {
  background-color: gray;
  position: relative;
  border: none;
  z-index: 1;
  cursor: pointer;
  display: block;
  border-bottom: #65a10e 2px solid;
}
.btn-primary:hover {
  transition: 0.5s ease-in-out;
  background-color: rgb(17, 148, 17);
}

/* Navbar */

#navbar {
  z-index: 5;
  background-color: var(--navbar-primary);
}

#navbar .wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#logo {
  padding: 20px 0;
}
.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.navbar-list li a {
  padding: 20px;
  color: var(--font-secondary);
}
.sticky-navbar {
  position: fixed;
  width: 100%;
}

#nav-close-container {
  display: none;
  position: relative;
  width: 28px;
  height: 24px;
  z-index: 2;
}
#nav-close-container:hover .close {
  opacity: 1;
}
#nav-close {
  z-index: 2;
}
#nav-close,
#nav-close::after,
#nav-close::before {
  background-color: var(--font-secondary);
}

/* ArowTop */
#arrow-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary);
  height: 50px;
  width: 50px;
  display: none;
  border: solid 1px var(--navbar-primary);
}

#arrow-container::after,
#arrow-container::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: var(--navbar-primary);
  width: 3px;
  height: 23px;
}
#arrow-container::after {
  transform: rotate(45deg) translate(19px, -4px);
}
#arrow-container::before {
  transform: rotate(-45deg) translate(14px, 29px);
}

/* Header */
#header {
  min-height: 100vh;
  background-image: url("../img/header-graphic.svg");
  background-size: cover;
}
#header .wrapper {
  display: flex;
  justify-content: space-between;
}
#header #header-left,
#header #header-right {
  width: 50%;
  min-height: 100vh;
}
#header #header-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: var(--font-primary);
}

#header #header-left h1,
#header #header-left p {
  color: var(--font-primary);
}

#header #header-left h1 {
  font-size: 4rem;
  padding-bottom: 20px;
}
#header #header-left p {
  font-size: 1.3rem;
}
#header #header-left a {
  display: block;
  padding: 10px;
  width: 195px;
  background-color: var(--button-primary);
  margin-top: 40px;
  position: relative;
  color: var(--font-secondary);
}
#header #header-left a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: green;
}

#header #header-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Category info */

#category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px 0 150px 0;
  row-gap: 50px;
}

.category-info-box {
  background-color: rgb(58, 58, 58);
  position: relative;
  min-height: 400px;
  min-width: 279px;
  z-index: 1;
  animation: fadeIn 1s;
  margin: 0 10px;
}
.category-info-box:hover {
  transform: scaleY(1);
}
.category-info-box .img-div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.category-info-box:hover .img-div {
  top: -100%;
  opacity: 0;
}
.category-info-box:hover .img-div img::after {
  opacity: 0;
}
.category-info-box .img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.category-info-box .img-div > p {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.425);
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 20%;
}
.category-info-box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--font-primary);
  transform: scaleY(0);
  transform-origin: bottom center;
  z-index: -1;
  transition: transform 0.5s;
}
.category-info-box:hover::after {
  transform: scaleY(1);
}
/* .category-info-box::before {
  content: "";
  height: 3px;
  width: 100%;
  background-color: var(--font-primary);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  transform: opacity 0.3s;
} */

.category-info-box .category-info-text {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  left: 0;
  transition: 0.5s;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
}
.category-info-box:hover .category-info-text {
  top: 0;
  opacity: 1;
}
.category-info-box .category-info-text p:first-child {
  padding: 20px 10px;
  font-size: 2rem;
  font-weight: 600;
}
.category-info-box .category-info-text p {
  padding: 10px;
}
.category-info-box .category-info-text a {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--button-primary);
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px;
  pointer-events: all;
}
.price-text {
  font-weight: 600;
  font-size: 1.4rem;
  display: block;
  /* position: relative; */
}
.price-text::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--button-primary);
}

/* Category filter */

#courses {
  min-height: 100vh;
  background-image: url("../img/category-background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#courses .wrapper ul {
  display: flex;
}
#courses .wrapper ul li {
  margin: 25px 20px 0 0;
  padding: 10px;
  background-color: var(--primary-dark);
  border: none;
  position: relative;
}
#courses .wrapper ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(56, 56, 56);
}
#courses .wrapper > h2 {
  padding-top: 50px;
  font-size: 2.5rem;
  position: relative;
  display: inline-block;
}
#courses .wrapper > h2::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 120%;
  height: 3px;
  background-color: red;
}

.filter-list-active {
  background-color: var(--primary-light) !important;
}

#sale {
  text-align: center;
  padding: 20px 0;
  font-size: 2rem;
}

#timer {
  font-weight: 700;
}

.close {
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
  height: 3px;
  opacity: 0.5;
  transition: all 0.3s;
  background-color: #ffffff;
  transition: all 0.3s ease;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  content: "";
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
}
.close:before {
  top: -10px;
}
.close:after {
  top: 10px;
}

.cross::before {
  transform: rotate(-45deg) translate(-8px, 6px);
  opacity: 1;
}
.cross {
  height: 0;
  transform: rotate(180deg);
}
.cross::after {
  transform: rotate(45deg) translate(-8px, -6px);
  opacity: 1;
}

/* About us */

#about-us {
  min-height: 100vh;
  /* margin-top: 50px; */
  padding-top: 100px;
  background-color: var(--primary);
  /* background-image: url("../img/about-us-background.svg"); */
  /* background-image: url("../img/Artboard\ 1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
#about-us .wrapper {
  z-index: 5;
}
#about-us .wrapper h2 {
  display: inline-block;
  font-size: 2.5rem;
  position: relative;
  margin-bottom: 50px;
}
#about-us .wrapper h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 120%;
  height: 3px;
  /* background-color: #0087ff; */
  background-color: var(--button-primary);
  /* background-color: rgb(60, 135, 254); */
}
#about-us .wrapper #about-us-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
#about-us-left,
#about-us-right {
  min-height: 100vh;
  /* background-color: rebeccapurple; */
  width: 50%;
}
#about-us-left img {
  object-fit: cover;
  border: 5px solid rebeccapurple;
  border-radius: 25px 10px 5029px 7px;
}

/* Contact */

textarea {
  display: block;
}

#contact {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url("../img/contact-us-background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contact .wrapper {
  display: flex;
  width: 1200px;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
#contact-left,
#contact-right {
  width: 50%;
  padding: 50px;
  height: 600px;
}
#contact-left {
  background-color: red;
}
#contact-left h2 {
  font-size: 2.5rem;
}
#contact-right {
  background-color: blue;
  display: flex;
  justify-content: center;
}
#contact-right form {
  width: 100%;
}
#contact-right label {
  display: block;
  font-size: 1.1rem;
  margin: 5px 0;
  color: #f2f2f2;
}
#contact-right input::placeholder,
#contact-right textarea::placeholder,
#contact-right select {
  font-size: 0.8rem;
  color: gray;
  padding: 5px;
}
#contact-right label[for="newslist"] {
  display: inline-block;
}
#contact-right input[type="text"],
#contact-right textarea,
#contact-right select {
  width: 100%;
}
#contact-right input[type="text"],
#contact-right select {
  height: 25px;
}
#contact-right textarea {
  height: 150px;
}
#form-top {
  display: flex;
  justify-content: space-between;
}
#form-top .label-container {
  width: 45%;
}
#contact-right form > div {
  padding-bottom: 10px;
}

#contact-right input,
#contact-right textarea,
#contact-right select {
  border: none;
  border-bottom: #65a10e 2px solid;
  outline: none;
  background-color: blue;
}
#contact-right input[type="button"] {
  background-color: rgb(32, 32, 255);
  color: gray;
}
.button-container {
  position: relative;
}
.button-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 3px;
  background-color: rgb(17, 0, 92);
}
.button-container .btn-primary {
  height: 35px;
  width: 100px;
  display: block;
  margin-top: 20px;
}
/* Sponsors */
#logo-sponsors {
  padding: 35px 0;
  margin: 0 auto;
}
.sponsor-item a {
  font-size: 4rem;
  color: #4361f6;
}
.sponsor-item i {
  font-size: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Map */

#map {
  width: 100%;
  height: 300px;
}
#map iframe {
  overflow: hidden;
  display: block;
  height: 100%;
  width: 100%;
}

/* Footer */

#footer {
  background-color: #2a427c;
  min-height: 20vh;
}
#footer .wrapper {
  display: flex;
  flex-direction: column;
}
#footer-up {
  position: relative;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
}
#footer-up #footer-social p,
#footer-up #footer-navigation p,
#footer-up #footer-link p {
  display: inline-block;
  color: #f2f2f2;
  font-size: 1.6rem;
  position: relative;
  margin-bottom: 20px;
}
#footer-up #footer-social p::after,
#footer-up #footer-navigation p::after,
#footer-up #footer-link p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 120%;
  height: 3px;
  background-color: #f2f2f2;
}

#footer-up #footer-social ul a,
#footer-up #footer-navigation ul a {
  color: #f2f2f2;
}
#footer-up #footer-social ul {
  display: flex;
}
#footer-up #footer-navigation ul a {
  font-size: 1.3rem;
}
#footer-up #footer-social ul a {
  font-size: 2rem;
  margin-right: 20px;
}
#footer-link {
  display: flex;
  flex-direction: column;
}
#footer-link p {
  width: fit-content;
}
#footer-up::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgb(116, 116, 116);
  position: absolute;
  bottom: 0;
  left: 0;
}
#footer-down {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-size: 1.3rem;
}
/* About me */
#about-me-container {
  position: absolute;
  top: 10vh;
  left: 10vw;
  display: none;
  animation: fadeIn 1s;
}

#about-me {
  background-color: #2a427c;
  max-height: 100vh;
  width: 80vw;
  /* min-width: 60vw; */
  margin: 0 auto;
  display: flex;
  position: relative;
}

#about-me-right {
  padding: 20px 40px;
}

#about-me-left {
  /* min-width: 300px; */
  /* min-width: 20%; */
  min-width: 200px;
  background-color: #3a5cad;
}

#about-me-righ {
  width: 70%;
}
#about-me-left img {
  display: block;
  max-height: 70%;
  background-color: var(--bg-secondary);
  object-fit: cover;
}

#about-social {
  display: flex;
  flex-direction: row;
}
#about-me-info-content li {
  padding: 7%;
  position: relative;
}
#about-me-info-content li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--primary-dark);
}
#about-me-info-content li {
  color: var(--font-primary);
}
#about-me-info-content li a,
#about-me-info-content li p span {
  color: var(--font-primary);
  filter: brightness(0.85);
}
#about-social ul {
  display: flex;
}
#about-social {
  padding: 7%;
}
#about-social li a {
  font-size: 2rem;
  margin-right: 20px;
  color: var(--font-primary);
}
#about-me-right h2 {
  font-size: 2.5rem;
  position: relative;
  display: inline-block;
  margin-bottom: 5%;
}
#about-me-right h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 120%;
  height: 3px;
  background-color: var(--primary);
}

/* Quotes */
#quote-box {
  opacity: 0;
  animation: fade infinite 2s;
  color: rgb(160, 160, 160);
  padding-top: 50px;
}
#quote {
  font-size: 1.2rem;
}
#author {
  text-align: right;
  padding: 5px;
}

#about-me #about-me-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 24px;
  z-index: 2;
}

#about-me #about-me-close .close {
  position: absolute;
  width: 32px;
  right: 10px;
  top: 10px;
}

#about-me-close:hover .close {
  opacity: 1;
}

#about-me::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--primary);
}

@keyframes fade {
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive */

@media only screen and (max-width: 769px) {
  body {
    background-color: lightblue;
  }
  .wrapper {
    margin: 0 7vw;
  }
  .navbar-list {
    position: fixed;
    right: 10vw;
    top: 0;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 60%;
    padding-top: 40px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    background-color: var(--navbar-dark);
    margin: 0 -10vw;
  }
  .navbar-list li {
    padding: 20px;
  }
  .navbar-list li a {
    color: #f2f2f2;
  }
  #nav-close-container {
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 3;
  }

  .nav-active {
    transform: translateX(0%);
  }
  .category-info-box {
    min-width: 250px;
  }
  /* Contact */
  #contact .wrapper {
    flex-direction: column;
    width: 100%;
  }
  #contact-left,
  #contact-right {
    width: 100%;
  }
  #contact-left {
    height: 200px;
  }
  /* Footer */
  #footer-up {
    flex-wrap: wrap;
  }
  #footer-up #footer-social p,
  #footer-up #footer-navigation p,
  #footer-up #footer-link p {
    display: inline-block;
    color: #f2f2f2;
    font-size: 1.2rem;
    position: relative;
    margin-bottom: 20px;
  }
  #footer-up #footer-navigation ul a,
  #footer-up #footer-link ul li a {
    font-size: 1rem;
  }
  #footer-down p {
    font-size: 1rem;
  }
}
